@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --primary-weak: #e6e0ff4d;
   --primary-medium: #614AD3;
   --primary-strong: #533acf;
   --neutral-white: #FFFFFF;
   --neutral-header: rgba(255, 255, 255, 0.9);
   --neutral-glass: rgba(255, 255, 255, 0.25);
   --neutral-glass-hover: rgba(255, 255, 255, 0.85);
   --neutral-strong:  #393939;
   --border-weak: #f9f8ff88;
   --tags-primary: #D6CFF4;
   --tags-secondary: #B2E4F0;
   --gradient-logo: linear-gradient(255.63deg, rgba(17, 3, 71, 0.8) 17.71%, rgba(8, 71, 74, 0.8) 112.64%);
   --gradient-page-bg: linear-gradient(255.63deg, rgba(209, 201, 241, 0.8) 17.71%, rgba(185, 251, 255, 0.1) 112.64%);
   --gradient-hero-bg: linear-gradient(256.12deg, #CDD7FE 17.84%, #C5F9FC 113.46%);
 }
 
 /* [data-theme="dark"] {
 } */